[Desktop Entry] 
Type=Application
Name=Pobtube
GenericName=Pobtube 
Comment=A simple gui to youtube-dl!
Exec=pobtube
Icon=/usr/lib/pobtube/icons/play.png
Terminal=FALSE
StartupNotify=TRUE
Categories=Network;Utility;
